In [2]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import cv2

In [9]:
def img_to_dataframe(row):
    try:
        path_to_image="../datasets/images/"+row
        img_array=cv2.imread(path_to_image)
        img_array=cv2.cvtColor(img_array, cv2.COLOR_BGR2RGB ) 
        return img_array
    except:
        print("Skipping file due to Error - ../datasets/images/"+row)
        

        
df=pd.read_csv("../datasets/styles.csv", error_bad_lines=False, warn_bad_lines=False)
df=df.dropna().reset_index(drop=True)
df["image_name"]=df.apply(lambda row: str(row["id"])+".jpg",axis=1).reset_index(drop=True)
display(df)


df["image_array"]=df["image_name"].apply(img_to_dataframe)
df=df.dropna().reset_index(drop=True)
df.shape,display(df)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image_name
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
...,...,...,...,...,...,...,...,...,...,...,...
44072,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe,17036.jpg
44073,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop,6461.jpg
44074,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,18842.jpg
44075,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume,46694.jpg
44076,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050,51623.jpg

Skipping file due to Error - ../datasets/images/39403.jpg
Skipping file due to Error - ../datasets/images/39410.jpg
Skipping file due to Error - ../datasets/images/39401.jpg
Skipping file due to Error - ../datasets/images/39425.jpg
Skipping file due to Error - ../datasets/images/12347.jpg

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image_name,image_array
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
...,...,...,...,...,...,...,...,...,...,...,...,...
44067,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe,17036.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
44068,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop,6461.jpg,"[[[195, 192, 185], [195, 192, 185], [196, 193,..."
44069,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,18842.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
44070,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume,46694.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."
44071,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050,51623.jpg,"[[[255, 255, 255], [255, 255, 255], [255, 255,..."

((44072, 12), None)

In [15]:
df.to_csv("../datasets/Dataset_With_Image_Array.csv")